.buton{
    width:49%;
    border-color:purple;
}
.ekle{
    margin-left: 60px;
    border-color: purple; 
    text-align: center;  
}

.th {
    background-color:#d8bfd8 ;
    width: 20%;
}
.sonuc{
    width: 97%;
    text-align: center;
    margin: auto;
}
#ad,#soyad,#sınıf,#not {

width: 19%;
}
#ekle{
width: 9.3%;
}

.fw-500 {
  position: relative;
 
  
}


.fw-500 .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

 
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

 
  opacity: 0;
  transition: opacity 0.3s;
}


.fw-500 .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}


.fw-500:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
